# Xcode
xcuserdata/
build/
DerivedData/
*.xcuserstate

# Core Data (WAŻNE!)
*.sqlite
*.sqlite-shm
*.sqlite-wal

# System
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Security (KRYTYCZNE!)
**/secrets*
**/*key*
**/*token*
*.plist
